h1 {
    color: rgb(0, 4, 255);
}

h6 {
    color: rgb(4, 0, 255);
    font-weight: 100;
    text-decoration: none;      
}

.w3-display-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding-top: 300px ;      
}